/* Coolors Exported Palette - coolors.co/ba7ba1-eff2ef-aba9c3-807182-9dacb2 */

$color1: #ba7ba1; //rgba(186, 123, 161, 100)
$color2: #eff2ef; //rgba(239, 242, 239, 100)
$color3: #aba9c3; //rgba(171, 169, 195, 100)
$color4: #807182; //rgba(128, 113, 130, 100)
$color5: #9dacb2; //rgba(157, 172, 178, 100)